:root {
  --main-primary-color: rgb(59, 121, 74);
  --main-200-primary-color: rgb(21, 61, 30);
  --bs-primary-rgb: 38, 112, 55;
  --bs-primary: rgb(38, 112, 55);
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-hover-bg: var(--main-primary-color);
  --bs-btn-border-color: var(--main-primary-color);
}

.form-check-input:checked {
  background-color: var(--main-primary-color);
  border-color: var(--main-primary-color);
}