{% extends 'base/base.html' %}
{% load static %}

{% block sidebar %}{% endblock sidebar %}


{% block main %}

<div class="container">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex justify-content-center py-4">
            <a href="/" class="logo d-flex align-items-center w-auto">
              <img src="{% static 'web/img/logo.png' %}" alt="">
              <span class="d-none d-sm-block">IBM</span>
            </a>
          </div><!-- End Logo -->

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Crie sua conta</h5>
                <p class="text-center small">Entre com seu email pessoal para criar a conta</p>
              </div>

              <form class="row g-3 needs-validation" novalidate action="{{request.path}}">
                <div class="col-12">
                  <label for="yourName" class="form-label">Seu Nome</label>
                  <input type="text" name="name" class="form-control" id="yourName" required>
                  <div class="invalid-feedback">Por favor, insira seu nome!</div>
                </div>

                <div class="col-12">
                  <label for="yourEmail" class="form-label">Seu email</label>
                  <input type="email" name="email" class="form-control" id="yourEmail" required>
                  <div class="invalid-feedback">Por favor, insira um email válido!</div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Senha</label>
                  <input type="password" name="password" class="form-control" id="yourPassword" required>
                  <div class="invalid-feedback">Insira sua senha!</div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Confirmaçao de senha</label>
                  <input type="password" name="password" class="form-control" id="yourPassword" required>
                  <div class="invalid-feedback">Inira a confirmação se senha!</div>
                </div>

                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                    <label class="form-check-label" for="acceptTerms">Eu aceito os <a href="#">termos e condições</a></label>
                    <div class="invalid-feedback">You must agree before submitting.</div>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Criar conta</button>
                </div>
                <div class="col-12">
                  <p class="small mb-0">Já possui conta? <a href="/accounts/loggin">Entre clicando aqui</a></p>
                </div>
              </form>

            </div>
          </div>
          <form method="post">
            {% csrf_token %}
            {{ form.name.label }}
            <input type="submit" value="Submit">
        </form>
        </div>
      </div>
    </div>

  </section>

</div>

{% endblock main %}