{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q4L0P009JX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Q4L0P009JX');
  </script>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% block title %}
  <title>{{ site_config.title|default:'IBM - Igreja Batista Missionária' }}</title>
  {% endblock title %}
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="staticfiles/web/img/favicon.png" rel="icon">
  <link href="staticfiles/web/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  {% include 'core/style-assets.html' %}

</head>

<body>
  <div class="container-main">
  {% include 'core/nav/header.html' %}

  {% if request.user.is_authenticated %}
  {% include 'core/nav/sidebar.html' %}
  {% endif %}
  <main id="main" class="main">

    {% block main %}

    {% endblock main %}

  </main><!-- End #main -->

  

  <!--move up-->
  <a 
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    >
    <i class="bi bi-arrow-up-short"></i>
  </a>
  {% include 'core/footer.html' %}
  {% include 'core/js-assets.html' %}
</div>
</body>

</html>