<nav class="navbar navbar-expand-md bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">IBM</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Conteúdos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <select
          class="form-select form-control form-select-sm mb-2"
          aria-label="seleção da igreja"
          id="churchSelectNav"
        >
          <option value="0" selected="selected">Igreja Sede</option>
          <option value="1">Um</option>
          <option value="2">Dois</option>
          <option value="3">tres</option>
        </select>
      </form>
    </div>
  </div>
</nav>

<script>
  $( document ).ready(() => {
    $("select#churchSelectNav").change(function() {
      const selected = $( "#churchSelectNav option:selected" )
      slug = selected.val()

      const href = window.location.href.split("?")
      let newHref = `/church/${slug}`
      if (href.length > 1) {
        const queryString = href[1]
        newHref += `?${queryString}`

      }

      window.location.href = newHref
    })
    
  });
</script>