{% load static %}

<!-- Vendor CSS Files -->
<link href="{% static 'web/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'web/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'web/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'web/vendor/quill/quill.snow.css' %}" rel="stylesheet">
<link href="{% static 'web/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
<link href="{% static 'web/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
<link href="{% static 'web/vendor/simple-datatables/style.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'web/css/style.css' %}" rel="stylesheet">
<link href="{% static 'web/css/theme.css' %}" rel="stylesheet">
